.App{
  min-height: 100vh;
  background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  overflow: hidden;
}

.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar{
  width: 50%;
  border: none;
  padding: 10px;
}

.search-button{
  background: blue;
  border: none;
  padding: 10px 20px;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
}

.recipe{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.title{
  text-align:  center;
  margin-top: 2vh;
}
